<header>
  <nav>
    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/lebenslauf">Lebenslauf</a></li>
      <li><a href="/projekte">Projekte</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    background-color: #f8f8f8;
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  nav a {
    text-decoration: none;
    color: #333;
  }
</style>
